<div class="main">
  <div class="header">
    <div class="row">
      <span>当前位置:</span><span>后台管理系统</span>&gt;<span>超链接管理</span>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div>
        <button class="btn btn-success" (click)="openSearchLayer('add')"><i nz-icon nzType="plus"></i>新增</button>
        <button class="btn btn-success" (click)="refresh()"><i nz-icon nzType="reload"></i>刷新</button>
        <button class="btn btn-danger" (click)="deleteLink('')"><i nz-icon [type]="'close'"></i>批量删除</button>
        <button class="btn btn-warning" style="float: right;"
                (click)="openSearchLayer('search')"><i nz-icon [type]="'search'"></i>查询</button>
      </div>
    </div>
    <div class="table">
      <nz-table [nzData]="renderData" [nzShowPagination]="false">
        <thead>
        <tr>
          <th class="thBgColor"></th>
          <th class="thBgColor">序列</th>
          <th class="thBgColor">名称</th>
          <th class="thBgColor">链接地址</th>
          <th class="thBgColor">描述</th>
          <th class="thBgColor">操作</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of renderData,let idx = index">
          <td>
            <input type="checkbox"
                   [value]="item.id"></td>
          <td>{{idx+1}}</td>
          <td><span>{{item.name}}</span></td>
          <td><span>{{item.url}}</span></td>
          <td><span>{{item.description}}</span></td>
          <td>
            <i id="delete" nz-icon type="close" theme="outline" title="删除" (click)="deleteLink(item.id)"></i>
          </td>
        </tr>
        </tbody>
      </nz-table>
      <div nz-row style="float: right;padding-top: 40px;">
        <app-common-page [pageSize]="pageConfig.pageSize" [totalNum]="pageConfig.totalNum"
                         (currentIndex)="changeData($event, 'index')"
                         (currentPageSize)="changeData($event, 'size')"
                         [pageIndex]="pageConfig.pageNo"></app-common-page>
      </div>
    </div>
  </div>
</div>
<!--搜素-->
<nz-modal nzWidth="350"
          [nzClassName]="'vertical-center-modal'"
          [nzTitle]="addOrSearch"
          [nzVisible]="searchLayer"
          (nzOnOk)="confirmSearchOrAdd()"
          (nzOnCancel)="closeSearch()"
          nzMaskClosable="false">
  <form nz-form [formGroup]="searchForm">
    <nz-form-item>
      <nz-form-label nzSpan="8">链接名称</nz-form-label>
      <nz-form-control nzSpan="14">
        <input formControlName="linkName" nz-input type="text" placeholder="请输入登录账号"
               [(ngModel)]="searchCondition.name"/>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzSpan="8">超链接地址</nz-form-label>
      <nz-form-control nzSpan="14">
        <input formControlName="linkUrl" nz-input type="text" placeholder="请输入链接地址"
               [(ngModel)]="searchCondition.url" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzSpan="8">描述</nz-form-label>
      <nz-form-control nzSpan="14">
        <input formControlName="description" nz-input type="text" placeholder="请输入描述信息"
               [(ngModel)]="searchCondition.description" />
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-modal>
