<div class="bgSet">
  <div>
    <ul class="bg-bubbles">
      <li *ngFor="let i of bubbles"></li>
    </ul>
  </div>
  <div class="main">
    <div class="title text-center">
      <span>欢迎登陆</span>
    </div>
    <div class="form-login">
      <form (ngSubmit)="login()">
        <div class="row" *ngIf="checkLogin">
          <i class="glyphicon glyphicon-warning-sign" style="color: orangered; margin-right: 20px"></i>
          <span style="color: red;">用户名或密码错误</span>
        </div>
        <div class="row">
          <input type="text" class="form-control" autocomplete="off" name="AccountName"
                 [(ngModel)]="loginInfos.username">
        </div>
        <div class="row">
          <input type="password" class="form-control" autocomplete="off" name="Psd"
                 [(ngModel)]="loginInfos.password">
        </div>
        <div class="row">
          <input type="submit" class="form-control" value="登陆">
        </div>
      </form>
    </div>
  </div>
</div>
