<div class="main">
  <ul class="">
    <li><span class="glyphicon glyphicon-home"></span><span>首页</span></li>
    <li><span class="glyphicon glyphicon-picture"></span><span>图片管理</span><span class="glyphicon glyphicon-menu-left secondary-down"></span>
      <ul class="">
        <li><span>轮播图管理</span></li>
        <li><span>页面图片管理</span></li>
      </ul>
    </li>
    <li><span class="glyphicon glyphicon-user"></span><span>用户管理</span></li>
    <li><span class="glyphicon glyphicon-comment"></span><span>信息管理</span>
      <ul class="">
        <li><span>失物信息</span></li>
        <li><span>招领信息</span></li>
      </ul>
    </li>
    <li><span class="glyphicon glyphicon-link"></span><span>友情链接</span></li>
    <li><span></span><span>感谢信管理(暂时不做)</span></li>
    <li><span></span><span>系统设置(暂时不做)</span></li>
  </ul>
</div>
