<div class="main">
  <div class="header">
    <div class="row">
      <span>欢迎来到管理中心</span>&gt;<span>首页</span>
    </div>
    <div class="row">
      <span>仪表盘</span>
      <span>信息聚合中心</span>
      <span>实时展示系统动态</span>
    </div>
  </div>
  <div class="display-data">
    <div class="row">
      <div class="inline-block">
        <div><span>今日访客量</span></div>
        <div><span>1000</span><span class="times">（人次）</span></div>
        <div><span>点击查看数据</span></div>
      </div>
      <div class="inline-block">
        <div><span>本月访客量</span></div>
        <div><span>3700</span><span class="times">（人次）</span></div>
        <div><span>点击查看数据</span></div>
      </div>
      <div class="inline-block">
        <div><span>今日活跃用户</span></div>
        <div><span>100</span><span class="times">（人次）</span></div>
        <div><span>点击查看数据</span></div>
      </div>
      <div class="inline-block">
        <div><span>本月活跃用户</span></div>
        <div><span>1000</span><span class="times">（人次）</span></div>
        <div><span>点击查看数据</span></div>
      </div>
    </div>
  </div>
</div>
