<div class="main">
  <div class="header">
    <div class="row">
      <span>欢迎来到管理中心</span>&gt;<span>首页</span>
    </div>
    <div class="row">
      <span>仪表盘</span>
      <span>信息聚合中心</span>
      <span>实时展示系统动态</span>
    </div>
  </div>
  <div class="display-data">
    <div class="row" style="display: flex;justify-content: space-between;">
      <div class="col-md-3 inline-block">
        <div><span>今日访客量</span></div>
        <div><span>{{dashboardDate.todayVisit}}</span><span class="times">（人次）</span></div>
        <div><span>点击查看数据</span></div>
      </div>
      <div class="col-md-3 inline-block">
        <div><span>本月访客量</span></div>
        <div><span>{{dashboardDate.todayVisit}}</span><span class="times">（人次）</span></div>
        <div><span>点击查看数据</span></div>
      </div>
      <div class="col-md-3 inline-block">
        <div><span>今日活跃用户</span></div>
        <div><span>{{dashboardDate.todayActive}}</span><span class="times">（人次）</span></div>
        <div><span>点击查看数据</span></div>
      </div>
      <div class="col-md-3 inline-block">
        <div><span>本月活跃用户</span></div>
        <div><span>{{dashboardDate.monthActive}}</span><span class="times">（人次）</span></div>
        <div><span>点击查看数据</span></div>
      </div>
    </div>
  </div>
  <div class="row">
    <!--暂时不做改功能-->
    <!--<div echarts [options]="options" style="height:45rem;width:100%;margin-top:5rem;"></div>-->
  </div>
  <div class="row warning">
    <div class="tittle"><span><i nz-icon nzType="warning"></i>警告</span></div>
    <div class="warning-text">
      <p>请勿随意删除数据，数据被删除后不可恢复！</p>
      <p>请勿随意删除数据，数据被删除后不可恢复！</p>
      <p>请勿随意删除数据，数据被删除后不可恢复！</p>
    </div>
  </div>
</div>
