<div class="main">
  <ul nz-menu [nzTheme]="'dark'" [nzMode]="'inline'" [nzInlineCollapsed]="false" [nzInlineIndent]="50">
    <li nz-menu-item [routerLink]="'home'" routerLinkActive="active">
      <span class="glyphicon glyphicon-home"></span><span>首页</span>
    </li>
    <!--<li nz-submenu [nzDisabled]="true">
      <span title><span class="glyphicon glyphicon-picture"></span>图片管理</span>
      &lt;!&ndash;<span class="glyphicon glyphicon-menu-left secondary-position"></span>&ndash;&gt;
      <ul>
        <li nz-menu-item [routerLink]="'slideshow'" routerLinkActive="active">
          <span>轮播图管理</span>
        </li>
        <li nz-menu-item [routerLink]="'pagePicManagement'" routerLinkActive="active">
          <span>页面图片管理</span>
        </li>
      </ul>
    </li>-->
    <li nz-menu-item [routerLink]="'userManagement'" routerLinkActive="active">
      <span class="glyphicon glyphicon-user"></span>
      <span>用户管理</span></li>
    <li nz-submenu>
      <span title><span class="glyphicon glyphicon-comment"></span>信息管理</span>
      <!--<span class="glyphicon glyphicon-menu-left secondary-position"></span>-->
      <ul>
        <li nz-menu-item routerLinkActive="active" [routerLink]="'lost'"><span>失物信息管理</span></li>
        <li nz-menu-item routerLinkActive="active" [routerLink]="'found'"><span>招领信息管理</span></li>
      </ul>
    </li>
    <li nz-menu-item routerLinkActive="active" [routerLink]="'linkManagement'"><span class="glyphicon glyphicon-link"></span><span>友情链接</span></li>
    <!--<li nz-menu-item [nzDisabled]="true"><span></span><span>感谢信管理(暂时不做)</span></li>-->
    <!--<li nz-menu-item [nzDisabled]="true"><span></span><span>系统设置(暂时不做)</span></li>-->
  </ul>
</div>
