/*::ng-deep .cdk-drag-preview {
  display: table;
}

::ng-deep .cdk-drag-placeholder {
  opacity: 0;
}*/

.main{
  padding:1rem 2rem;
  *{
    outline:none;
  }
}
.header{
  .row{
    padding-bottom:1.25rem;
    span{
      margin:0 1rem;
      font-size:1.3rem;
      color: #888888;
    }
  }
}

.container{
  width:100% !important;
  padding:5rem 1rem;
}

.ant-table-thead > tr th{
  background-color: #74c7b5 !important;
}
.thBgColor {
  color: #fff;
  background-color: #74c7b5 !important;
  border:1px #fff solid;
}

input[type=file]{
  //background-color: rgba(43, 203, 169, 0.5);
  display: none;
}

tbody input{
  border:0;
  background:transparent; //设置背景色为透明色
}

tbody tr td:last-child{
  i{
    margin:0 0.5rem;
  }
}
