/* You can add global styles to this file, and also import other style files */
@media screen and (max-width:1500px){
  html{
    font-size:8px !important;
  }
}
html{
  font-size:10px;
}
*{
  outline:none;
}
body{
  width:100vw;
  height:100vh;
  margin:0;
  padding:0;
  min-width:1200px;
  font-size: 1rem;
  //font-size:15px;
}

.right{
  float:right !important;
}
.left{
  float:left !important;
}
.icon-white{
  color:#fff;
}
.row{
  margin:0;
  padding:0;
  width:100%;
}
.inline-block{
  display: inline-block;
}

/********public style************/
i{
  cursor: pointer;
}
i[id=edit]:hover{
  color: #3cbcaf;
}
i[id=delete]:hover{
  color: #bc210d;
}
i[id=disable]:hover{
  color: #bc4b4c;
}
id[id=enable]:hover{
  color: #58bc2e;
}
/********nz-modal************/
.vertical-center-modal {
  top:30%;
  left:7.4%;
}
.ant-btn-primary {
  background: #3cbcaf;
  border:1px solid #3cbcaf;
  color: #fff !important;
}
.ant-btn-primary:hover{
   background: #35988e;
   border:1px solid #35988e;
 }
.ant-btn{
  border:1px solid #3cbcaf;
  color: #3cbcaf;
}
.ant-btn:hover{
  border:1px solid #35988e;
  color: #35988e;
}
.ant-modal-close{
  color: #3cbcaf;
}
.ant-modal-close:hover{
  color: #35988e;
}

