/* You can add global styles to this file, and also import other style files */
body{
  width:100vw;
  height:100vh;
  margin:0;
  padding:0;
}

.right{
  float:right !important;
}
.left{
  float:left !important;
}
.icon-white{
  color:#fff;
}
.row{
  margin:0;
  padding:0;
  width:100%;
}
